h1{
  text-align: center;
}

button{
  text-align: center;
  margin: 5em auto;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 5em;
  width: 10em;
  border-radius: 5em;
}

.travel{
  margin-top: 5em;
}

/* div{
  display: flex;
  align-content: center;
  justify-content: center;
} */